body {
    background-color: #fafaff;
    font-family: arial, sans-serif;
    margin: 0; 
    padding: 0;
}

h1, h2, h3 {
    color: #2c3e50;
}

nav {
    background-color: #1e2749;
    padding: 1rem;
}

nav a {
    color: #fafaff;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e4d9ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #e4d9ff;
    color: #30343f;
}
th, td {
    border: 1px solid #fafaff;
    padding: 8px;
    text-align: left;
    color: #fafaff;
}
th {
    background-color: #273469;
}
h2 {
    margin-top: 20px;
}